.footer {
    background-color: #2F303A;
    padding: 60px 0;
    @media screen and (min-width: 768px) {
        padding: 65px 0;
    }
    @media screen and (min-width: 1200px) {
        padding: 60px 0;
    }
}

.footer-info {
    text-align: center;
    @media screen and (min-width: 768px){
        display: flex;
        align-items: baseline;
        width: 480px;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px){
        text-align: left;
        width: 100%;
        flex-wrap: nowrap;
    }
}

.web-social {
    text-align: center;
    margin: 0 0 60px 0;
    @media screen and (min-width: 1200px) {
        text-align: left;
        margin-right: auto;
    }
}

.web-form{
    @media screen and (min-width: 1200px){
        text-align: left;
    }
    
}

.sign-up-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    // @media screen and (min-width: 1200px){
    //     flex-wrap: nowrap;
    // }
}

.sign-up-form__input {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    height: 50px;
    margin: 0 0 20px 0;
    padding-left: 15px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-white-ffffff);

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
    
        color: hsla(0, 0%, 100%, 0.6);
    }

    @media screen and (min-width: 480px){
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 360px;
        margin-right: 10px;
    }
}

.sign-up-form__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}