.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
}

.clients-list__item {
    display: inline-block;
    flex-basis: (100% - );
    width: 130px;
    // width: 170px;
    height: 92px;
    margin: 15px;
}

.clients-list__div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--focus-color-blue);
        border: 1px solid var(--focus-color-blue);
    }
}

.clients-list__img {
    fill: currentColor;
}