:root {
    --focus-color-blue: #2196f3;
    --color-dark-212121: #212121;
    --color-grey-757575: #757575;
    --color-blak-000000: #000;
    --color-dark-2f303a: #2F303A;
    --color-white-ffffff: #fff;
    --color-light-f5f4fa: #F5F4FA;
    --color-lifgt-rgba: rgba(255, 255, 255, 0.6);

}